@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply border-[12px]  bg-gray-200 rounded-full w-36 h-36 sm:w-24 sm:h-24 flex justify-center items-center   transition duration-300 ease-in-out;
  }

  .f--link {
    @apply hover:text-rock transition duration-300 ease-in-out  text-xs pb-1;
  }
}

.paper--winner {
  box-shadow: inset 0px 6px rgb(211, 211, 211), 0px 8px hsl(230, 56%, 48%),
    0 0 0 50px rgba(255, 255, 255, 0.05), 0 0 0 100px rgba(255, 255, 255, 0.03),
    0 0 0 150px rgba(255, 255, 255, 0.02);
}

.rock--winner {
  box-shadow: inset 0px 6px rgb(211, 211, 211), 0px 8px hsl(349, 66%, 44%),
    0 0 0 50px rgba(255, 255, 255, 0.05), 0 0 0 100px rgba(255, 255, 255, 0.03),
    0 0 0 150px rgba(255, 255, 255, 0.02);
}

.scissors--winner {
  box-shadow: inset 0px 6px rgb(211, 211, 211), 0px 8px hsl(39, 86%, 42%),
    0 0 0 50px rgba(255, 255, 255, 0.05), 0 0 0 100px rgba(255, 255, 255, 0.03),
    0 0 0 150px rgba(255, 255, 255, 0.02);
}
